@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Lemonada";
  src: local("Lemonada Regular"), local("Lemonada-Regular"),
    url("../fonts/Lemonada-Regular.woff2") format("woff2"),
    url("../fonts/Lemonada-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat sb";
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"),
    url("../fonts/Montserrat-SemiBold.woff2") format("woff2"),
    url("../fonts/Montserrat-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat m";
  src: local("Montserrat Medium"), local("Montserrat-Medium"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2"),
    url("../fonts/Montserrat-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat b";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/Montserrat-Bold.woff2") format("woff2"),
    url("../fonts/Montserrat-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
	width: 100%;
}

.body--opened-menu {
	overflow: hidden;
}

.container1 {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
}
.title {
  line-height: 60px;
}
.ff1 {
  font-family: "Montserrat";
}
.ff3 {
  font-family: "Montserrat sb";
}
.ff2 {
  font-family: "Montserrat m";
}
.ff4 {
  font-family: "Montserrat b";
}

.aa1 {
  font-family: "Lemonada";
}

.burger-icon {
	position: relative;
	display: none;
	width: 50px;
	height: 50px;
	align-items: center;
	justify-content: center;
	border-radius: 15px;
	z-index: 11;
	margin-right: 30px;
	margin-left: 20px;
	padding-top: 10px;
}


.burger-icon span,
.burger-icon span::before,
.burger-icon span::after {
	display: block;
	width: 30px;
	height: 2px;
	border-radius: 100px;
	background-color: #ec1a1a;
}

.burger-icon span {
	position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
	content: '';
	position: absolute;
}

.burger-icon span::before {
	top: -8px;
}

.burger-icon span::after {
	bottom: -8px;
}

.body--opened-menu .burger-icon span {
	background: transparent;
}

.body--opened-menu .burger-icon span::before {
	top: 0px;
	transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
	bottom: 0px;
	transform: rotate(-45deg);
}


.hero-background {
  background: url("/girl.jpg") 45% 12% / cover no-repeat;
  height: 800px;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
}
.accent-color {
  color: #387178;
}

.button {
  border-radius: 50px;
  box-shadow: inset 0px 16px 16px -8px rgba(12, 12, 13, 0.1);
}

.border-radius {
  box-sizing: border-box;
  border: 1px solid rgb(112, 182, 190);
  border-radius: 46px 46px 14px 14px;
  box-shadow: 0px 4px 17px -3px rgba(0, 0, 0, 0.25);
}

.tab-conrols__link {
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  border-radius: 46px 46px 14px 14px;
  box-shadow: 0px 9px 17px -4px rgba(0, 0, 0, 0.25);
  background: rgb(255, 255, 255);
  color: rgb(124, 103, 88);
  height: 80px;
	max-width: 320px;
	width: 100%;
  transition: all 0.4s;
  font-size: 28px;
}


.tab-conrols__link:hover {
  box-shadow: 0px 9px 17px -4px #70b6be;
  transition: all 0.4s;
}
.tab-conrols__link--active {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  box-sizing: border-box;
  border-radius: 46px 46px 14px 14px;
  box-shadow: 0px 4px 17px -3px rgba(0, 0, 0, 0.25);
  background: rgb(112, 182, 190);
  color: #fff;
  height: 80px;
}

.left-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
  background: #31708f;
  transition: height 0.3s ease;
}
.tab-content {
  display: none;
}

.tab-content--show {
  display: block;
}
.accordeon {
  position: relative;
}
.accordion-list__control {
  padding: 30px 30px;
  width: 100%;
  background: transparent;
  text-align: left;
  position: relative;
  display: flex;

  font-size: 42px;
  line-height: 90%;
  transition: all 0.4s;
}
.accordion-list__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s;
}
.line-point {
  position: absolute;
  bottom: 51px;
  left: -31px;
}
.pic1 {
  position: relative;
}
.pic11 {
  position: absolute;
  bottom: -25px;
  left: 200px;
}
.pic2 {
  position: relative;
}
.pic22 {
  position: absolute;
  bottom: -7px;
  left: -120px;
}
.pic3 {
  position: relative;
}
.pic33 {
  position: absolute;
  bottom: -77px;
  left: 200px;
}
.gen-radius1 {
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.gen-radius11 {
  border-radius: 60px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.25);
}
.gen-radius4 {
  border-radius: 20px 0px 0px 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.accordion-list__item--opened .accordion-list__control {
  padding-bottom: 20px;
}
.accordion-list__item--opened .line-point {
  background: url("/akkord.png") no-repeat center center;
  background-size: cover;
  width: 40px; /* Увеличенная ширина активного кружочка */
  height: 70px; /* Увеличенная высота активного кружочка */
  left: -38px;
  top: 5px;
  transition: all 0.4s;
}
.accordion-list__item--opened .accordion-list__control-title {
  font-family: "Montserrat sb";
}

.button-next,
.button-prev {
  background: transparent;
  cursor: pointer;
  border: 1.5px solid #70b6be;
  border-radius: 50%;
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 1;
}

.swiper-slide {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 60%;
}

.swiper-slide:nth-child(3n) {
  width: 40%;
}

.button-prev path,
.button-next path {
  fill: #70b6be;
}

.button-prev,
.button-next {
  padding-left: 3px;
}

.swiper-button-disabled.button-prev,
.swiper-button-disabled.button-next {
  border: 1.5px solid #e1d9e1;
  cursor: auto;
}

.swiper-button-disabled.button-prev path,
.swiper-button-disabled.button-next path {
  fill: #e1d9e1;
}

.swiper-button-disabled.button-prev:hover,
.swiper-button-disabled.button-next:hover {
  background: transparent;
}

.swiper-button-disabled.button-prev:hover path,
.swiper-button-disabled.button-next:hover path {
  fill: #e1d9e1;
}

.button-prev path,
.button-next path {
  transition: all 0.4s;
}

.button-prev:hover,
.button-next:hover {
  background: #70b6be;
}

.button-prev:hover path,
.button-next:hover path {
  fill: #fff;
}

.about-open {
  height: 800px;
  width: 800px;
  border-radius: 50%;
  transition: transform 0.5s ease, opacity 0.5s ease; /* Добавляем плавность */
  opacity: 1; /* Начальное состояние - невидимое */
  transform: translateY(0%);
}
.about-open::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(20px);
  display: block;
  height: 800px;
  width: 800px;
  background: rgba(255, 255, 255, 0.88);
  border-radius: 50%;
  transform: translateY(-30%);
  transition: opacity 0.5s ease; /* Плавное изменение прозрачности */
  z-index: 1; /* Убедитесь, что это под текстом */
  opacity: 1; /* Начальная невидимость */
}

.about-open.active::after {
  transform: translateY(0%); /* Меняем на 0% */
  transition: 1s ease; /* Плавное изменение прозрачности */
}
.title1 {
  opacity: 0; /* Невидимое начальное состояние */
  transform: translateY(20px); /* Смещение вниз */
  transition: opacity 0.5s ease, transform 0.5s ease; /* Плавное появление */
}
.title-open {
  opacity: 1; /* Делаем текст видимым */
  transform: translateY(-30%);
  z-index: 10; /* Убедимся, что текст находится поверх */
}
.title-open.active {
  transform: translateY(0%); /* Меняем на 0% */
  transition: 1s ease; /* Плавное изменение прозрачности */
}

.footer{
	width: 100%;
	background-color: #387178; 
	height: 100%;
}



@media(max-width:900px){
	.nav{
		position: fixed;
		inset: 0;
		z-index: 10;
		background: rgb(8, 10, 8);
		font-size: 24px;

		transform: translateY(-50%);
		opacity: 0;
		visibility: hidden;
		transition: all .4s;
		display: flex;
		margin: 0px;
		/* flex-direction: row; */
		align-items: start;
		padding-top: 70px;
		padding-left: 20px;
		height: 100%;
	}
	.nav-list{
		color: #fff;
		flex-direction: column;
		gap: 25px;
	}
	.burger-icon {
		position: fixed;
		display: flex;
	}	
	.body--opened-menu .nav {
		transform: translateY(0%);
		width: 220px;
		opacity: 1;
		visibility: visible;
	}
	.hero-background {
		height: 680px
	}
	.tab-conrols__link{
		border-radius: 38px 38px 14px 14px;
	}
}


@media(max-width:800px){
	.about-open {
		height: 600px;
		width: 600px;
	}
	.about-open::after {
		height: 600px;
		width: 600px;
}
.hero-background {
	height: 650px
}
}
@media(max-width:700px){
	.title {
		line-height: 50px;
	}
	.hero-background {
		height: 600px
	}
}
@media(max-width:600px){
	.title {
		line-height: 40px;
	}
	.hero-background {
		height: 550px
	}
	.about-open {
		height: 500px;
		width: 500px;
	}
	.about-open::after {
		height: 500px;
		width: 500px;
	}
	.tab-conrols__link{
		border-radius: 30px 30px 14px 14px;
	}
}
@media(max-width:500px){
	.hero-background {
		background: url("/girl.jpg") 42% 12% / cover no-repeat;
		height: 480px;
		box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
	}

	.about-open {
		max-height: 400px;
		max-width: 400px;
		border-radius: 0%;
	}
	.about-open::after {
		max-height: 400px;
		max-width: 400px;
		border-radius: 0%;
}
}


